CommonModule/Schemas/Common/Envelope/SOAEnvelope.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://www.bidv.com/common/envelope/soaenvelope/1.0"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:cmd-soa="http://www.bidv.com/common/envelope/soaenvelope/1.0" xmlns:cmd-header="http://www.bidv.com/common/envelope/commonheader/1.0">
	<import schemaLocation="CommonHeader.xsd" namespace="http://www.bidv.com/common/envelope/commonheader/1.0"></import>
  <complexType name="ClientDetailType">
    		
    <sequence>
      			
      <element ref="cmd-header:Client"/>
      		
    </sequence>
    	
  </complexType>
  	
  <element name="SOACommonDetail" type="cmd-soa:SOACommonDetailType">
  </element>

  <complexType name="ServiceBodyType">
    		
    <sequence>

    	<any maxOccurs="unbounded" minOccurs="0" namespace="##any">
    	</any>

    </sequence>

    <anyAttribute namespace="##any"/>
    	
  </complexType>
  	
  <complexType name="SOAServiceHeaderType">
  	<sequence>
  		<element ref="cmd-soa:SOACommonDetail"></element>

  		<element ref="cmd-soa:ClientDetail"></element>
  	</sequence>
  </complexType>

  <complexType name="SOAEnvelopeType">

  	<sequence>






  		<element ref="cmd-soa:SOAServiceHeader"></element>

  		<element ref="cmd-soa:ServiceBody"></element>
            <element ref="cmd-soa:SOAExtend" maxOccurs="1" minOccurs="0"></element>
            <element name="Other" type="string" minOccurs="0"></element>

  	</sequence>

  	<anyAttribute namespace="##any"></anyAttribute>
  </complexType>


  <element name="SOAServiceHeader"
  	type="cmd-soa:SOAServiceHeaderType">
  </element>



  <element name="ClientDetail" type="cmd-soa:ClientDetailType"></element>

  <complexType name="SOAExtendType">
  	<sequence>
  		<element name="ObjectRender" type="string" maxOccurs="1" minOccurs="0"></element>
  		<element ref="cmd-header:ResponseStatus" maxOccurs="1" minOccurs="0"></element>
  	</sequence>
  </complexType>

  <complexType name="SOACommonDetailType">
    	<sequence>
    		<element ref="cmd-header:Common"></element>
    		<element name="SOAMessageID" type="string"></element>
    		<element name="ServiceName" type="string"></element>
    		<element name="OperationName" type="string" minOccurs="0"></element>
    		<element name="ProcessName" type="string" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="SOAEnvelope" type="cmd-soa:SOAEnvelopeType"></element>

    <element name="ServiceBody" type="cmd-soa:ServiceBodyType"></element>

    <element name="SOAExtend" type="cmd-soa:SOAExtendType"></element>
</schema>