training-tibco-bw6/Service Descriptors/ExchangeRateImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://xmlns.example.com/20240905101817" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExchangeRateImplService" targetNamespace="http://xmlns.example.com/20240905101817" xmlns:xsd1="http://www.example.org/ExchangeRate">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/20240905101817">
      <xsd:element name="getAllCurrencyRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllCurrencyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllCurrencyFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fault" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOneCurrency">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getOneCurrencyResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="addCurrency">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="addCurrencyResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCurrency">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCurrencyResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCurrency">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCurrencyResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/ExchangeRate"
    		schemaLocation="../Schemas/global/vn/exchangerate/ExchangeRate.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="getAllCurrencyRequest">
    <wsdl:part element="xsd1:ExchangeRateRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrencyResponse">
    <wsdl:part element="xsd1:ExchangeRateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAllCurrencyFault">
    <wsdl:part element="tns:getAllCurrencyFault" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getOneCurrencyRequest">
  	<wsdl:part name="parameters" element="xsd1:ExchangeRateRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOneCurrencyResponse">
  	<wsdl:part name="parameters" element="xsd1:ExchangeRateResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCurrencyRequest">
  	<wsdl:part name="parameters" element="xsd1:CurrencyOperationRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCurrencyResponse">
  	<wsdl:part name="parameters" element="xsd1:CurrencyOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCurrencyRequest">
  	<wsdl:part name="parameters" element="xsd1:CurrencyOperationRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCurrencyResponse">
  	<wsdl:part name="parameters" element="xsd1:CurrencyOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCurrencyRequest">
  	<wsdl:part name="parameters" element="xsd1:CurrencyOperationRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCurrencyResponse">
  	<wsdl:part name="parameters" element="xsd1:CurrencyOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="getAllCurrency">
      <wsdl:input message="tns:getAllCurrencyRequest" name="operationInput"/>
      <wsdl:output message="tns:getAllCurrencyResponse" name="operationOutput"/>
      <wsdl:fault message="tns:getAllCurrencyFault" name="Fault"/>
    </wsdl:operation>
    <wsdl:operation name="getOneCurrency">
    	<wsdl:input message="tns:getOneCurrencyRequest"></wsdl:input>
    	<wsdl:output message="tns:getOneCurrencyResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCurrency">
    	<wsdl:input message="tns:addCurrencyRequest"></wsdl:input>
    	<wsdl:output message="tns:addCurrencyResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCurrency">
    	<wsdl:input message="tns:updateCurrencyRequest"></wsdl:input>
    	<wsdl:output message="tns:updateCurrencyResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCurrency">
    	<wsdl:input message="tns:deleteCurrencyRequest"></wsdl:input>
    	<wsdl:output message="tns:deleteCurrencyResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
